# Dependencies
node_modules/

# Environment
.env

# Logs
*.log
npm-debug.log*

# Build
client/build/
server/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Cache
.cache
.parcel-cache